/*
Student Name: William Gomez
File Name: styles.css
Date: 7/30/2021
*/

/*CSS Reset*/
body, header, nav, main, footer, img, h1,ul
{
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for images */
img 
{
    max-width: 100%;
    display: block;
}

 /*Style rules for mobile viewport.*/

 /*Style rules to show mobile class and hide tab-desk class.*/

.mobile
{
  display: block;
}
.tab-desk
{
  display: none;
}

/*Body Background*/
body
{
  background-color: #e6e6e6;
}

/* Style rules for header content */
header 
{

    text-align: center;
    font-size: 2em;
    color: #000000;
    font-family: 'Exo 2',sans-serif;
}
 
header h1 
{
    font-style: italic;
}

/* Style rules for navigation area */
nav {
    background-color: #0f0202;
}
 
nav ul {
    list-style-type: none;
    text-align: center;
}
 
nav li {
    display: block;
    font-size: 2em;
    border-top: 0.5px ;
    border-top-color: #e6e6e6 ;
    border-top-style: solid ;
}
 
nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

/* Style rules for main content */
main 
{
    padding: 2%;
    background-color: #e6e6e6;
    overflow: auto;
    font-family: 'Roboto',sans-serif;
}
 
main p 
{
    font-size: 1.25em;
}

/*Style rules for .tel-link  .link*/

.link
{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
}


.round
{
  border-radius: 8px;
  width: 50%;
  height: 50%;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}



#contact
{
  text-align: center;
}

.tel-link
{
  background-color: #0f0202;
  padding: 2%;
  width: 80%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

.tel-link a
{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

footer 
{
    text-align: center;
    font-size: 0.65em;
    clear: left;
    background-color: #e6e6e6;

}
 
footer a 
{
    color: #4645a8;
    text-decoration: none;
}

.center 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
